@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --background-color: #fafafa;
  --background-color--header: #ffffff;
  --background-color--sidebar: #ffffff;
  --background-color--block: #ffffff;
  --color-text-primary: #1c1c1c;
}

.theme-dark {
  --background-color: #171717;
  --background-color--header: #1c1c1c;
  --background-color--sidebar: #1c1c1c;
  --background-color--block: #1c1c1c;
  --color-text-primary: #ffffff;
}

body {
  background: var(--background-color);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-color: var(--background-color--header);
}